<% provide(:title, 'About Us') %>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta name="generator" content="pandoc" />
  <title>About SFAxSNS</title>
  <style type="text/css">code{white-space: pre;}</style>
</head>
<body>
<div id="header">
<h1 class="title">About SFAxSNS</h1>
</div>
<h2 id="the-sfa-x-sns-is-a-communication-tool-that-connects-the-internal-and-external-network-of-contacts.-you-can-take-advantage-of-the-cultivated-network-of-contacts-in-the-activities-of-outside-in-the-business.">The SFA x SNS is a communication Web Application that connects the internal and external network of contacts. Employees who are managed by Salesforce will connect the own personal connections obtained through the activities of a variety of external, such as Facebook.New business value, such as the following is expected.</h2>
<ul>
<li><p>Discovery of new needs of competitors and customers</p></li>
<li><p>Acquisition of new potential customers</p></li>
<li><p>Visualization of business evaluation of outside activities</p></li>
</ul>
</body>
</html>
