<% provide(:title, 'About Us') %>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta name="generator" content="pandoc" />
  <title>About SFAxSNS</title>
  <style type="text/css">code{white-space: pre;}</style>
</head>
<body>
<div id="header">
<h1 class="title">About SFAxSNS</h1>
</div>
<h2 id="the-sfa-x-sns-is-a-communication-tool-that-connects-the-internal-and-external-network-of-contacts.-you-can-take-advantage-of-the-cultivated-network-of-contacts-in-the-activities-of-outside-in-the-business.">The SFA x SNS is a communication tool that connects the internal and external network of contacts. You can take advantage of the cultivated network of contacts in the activities of outside in the business.</h2>
<ul>
<li><p>The use of the network of contacts in the outside in negotiations</p></li>
<li><p>The use of the activities in the external business</p></li>
<li><p>Matching the Internal and external networking</p></li>
</ul>
</body>
</html>
