<% provide(:title, 'Contact') %>
<head>

  <style>
    .item  {}
  </style>

</head>
<body>
<h1>Contacting SFA X SNS</h1>
<p>

  <div class="item">
    <h3>Support</h3>

    <p>
      For getting started guides and developer docs,
      show <a href="../help">help</a>.
    </p>

    <p>
      For technical support, Contact 
      <a href="mailto:tech-support@foo.com">tech-support@foo.com</a>.
    </p>

    </p>
  </div>

  <div class="item">
    <h3>Feedback</h3>

    <p>
      Have feedback about our website? Let us know at
      <a href="mailto:dev-center@foo.com">dev-center@foo.com</a>.
    </p>
  </div>

</body>
<!--
  <%= render 'underconstruction' %>
-->
</p>
