<% provide(:title, 'Help') %>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta name="generator" content="pandoc" />
  <title>Help</title>
  <style type="text/css">code{white-space: pre;} .item{font: bold 130% sans-serif}</style>
</head>
<body>
<div id="header">
<h1 class="title">Help</h1>
</div>
<p class="item" id="registration">Registration</p>
<p>Click the <strong>sign up now!</strong> on the Home tab, please register the user information.</p>
<p>If you <strong>sign up with facebook</strong>, associated with the user information of Facebook.</p>
<p class="item" id="start">Start</p>
<p>Please sign in by clicking on the <strong>sign in</strong> in the upper right.</p>
<p>If you <strong>sign in with Facebook</strong>, you sign in from <strong>sign in with facebook</strong>.</p>
<p class="item" id="follow-the-other-users">Follow the other users</p>
<p>Select the user to be worried about in the users view, and then click the <strong>Follow</strong>.</p>
<p class="item" id="join-in-users-group">Join in user's group</p>
<p>Click on the <strong>Join</strong> for a group to be intrested in the group view.</p>
<p class="item" id="remark">Remark</p>
<p><strong>Post</strong> your commnet in the home view.</p></body>
