<% provide(:title, 'Help') %>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta name="generator" content="pandoc" />
  <title>Help</title>
  <style type="text/css">code{white-space: pre;} .item{font: bold 130% sans-serif}</style>
</head>
<body>
<div id="header">
<h1 class="title">Help</h1>
</div>
<p class="item" id="lets-registration">Let's registration</p>
<p>Click the [sign up now!] on the home screen, please register the user information.</p>
<p class="item" id="lets-start">Let's start</p>
<p>Please log in by clicking on the [sign in] in the upper right.</p>
<p class="item" id="lets-follow-the-other-users">Let's follow the other users</p>
<p>Please click on the user of interest from Home screen after login.</p>
<p class="item" id="lets-remark">Let's remark</p>
<p>Enter your commnet from home screen after login, and please click on the [Post].</p>
</body>

