<li>
<div id="join_form">
  <% if group.joined?(current_user) %>
    <%= render 'unjoin', object: group %>
  <% else %>
    <%= render 'join', object: group %>
  <% end %>
</div>
  <div id="joinuser"></div>
  <%= group.group_name %> | 
  <%= group.group_detail %> 
</li>

